version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
      args:
        NODE_ENV: production
    restart: always
    env_file:
      - apps/api/.env
    ports:
      - 3001:3001
    volumes:
      - api_uploads:/app/uploads
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080

volumes:
  api_uploads:
    driver: local
