version: '3.9'
services:
  api:
    build: 
      context: .
      # dockerfile: Dockerfile.prod
      dockerfile: ./apps/api/Dockerfile.prod
      args:
        NODE_ENV: production
    restart: always
    env_file:
      - apps/api/.env
    ports:
      - 3000:3000
    volumes:
      - api_uploads:/app/uploads

volumes:
  api_uploads:
    driver: local